﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TeKCareWeb.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h2>
                捷修網API測試
                <asp:Label ID="lbl_1" runat="server" Text=""></asp:Label>
                <asp:Label ID="lbl_2" runat="server" Text=""></asp:Label>
                <br />
                <br />
                <asp:Label ID="Label1" runat="server" Text="帳號"></asp:Label>
                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox><br />
                <asp:Label ID="Label2" runat="server" Text="密碼"></asp:Label>
                 <asp:TextBox ID="TextBox2" runat="server" TextMode="Password"></asp:TextBox><br />
                <asp:Label ID="Message" runat="server" Text="" ForeColor="Red"></asp:Label>
                <br />

                <asp:Button ID="btn_LDAP" runat="server" Text="TEST LDAP" OnClick="btn_LDAP_Click" />
            </h2>
        </div>
    </form>
</body>
</html>
